networks:
  external:
    name: external
    external: true

services:
  snookerorg:
    image: snookerorg
    container_name: snookerorg
    build:
      context: .
      dockerfile: SnookerOrg/Dockerfile
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - external
  
  live-matches-sync:
    image: live-matches-sync
    container_name: live-matches-sync
    build:
      context: .
      dockerfile: LiveMatchesSync/Dockerfile
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - external
  
  events-sync:
    image: events-sync
    container_name: events-sync
    build:
      context: .
      dockerfile: EventsSync/Dockerfile
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - external
  
  matches-worker:
    image: matches-worker
    container_name: matches-worker
    build:
      context: .
      dockerfile: MatchesWorker/Dockerfile
    env_file:
      - .env
    volumes:
      - ./:/src
    restart: unless-stopped
    networks:
      - external
  
  events-worker:
    image: events-worker
    container_name: events-worker
    build:
      context: .
      dockerfile: EventsWorker/Dockerfile
    env_file:
      - .env
    volumes:
      - ./:/src
    restart: unless-stopped
    networks:
      - external
  
  match-api:
    image: match-api
    container_name: match-api
    build:
      context: .
      dockerfile: MatchApi/Dockerfile
    env_file:
      - .env
    restart: unless-stopped
    environment:
      ASPNETCORE_URLS: http://+:80
    networks:
      - external

  notification-worker:
    image: notification-worker
    container_name: notification-worker
    build:
      context: .
      dockerfile: NotificationWorker/Dockerfile
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - external

  session-worker:
    image: session-worker
    container_name: session-worker
    build:
      context: .
      dockerfile: SessionWorker/Dockerfile
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - external

  session-api:
    image: session-api
    container_name: session-api
    build:
      context: .
      dockerfile: SessionApi/Dockerfile
    env_file:
      - .env
    restart: unless-stopped
    environment:
      ASPNETCORE_URLS: http://+:80
    networks:
      - external

  frame-worker:
    image: frame-worker
    container_name: frame-worker
    build:
      context: .
      dockerfile: FrameWorker/Dockerfile
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - external

  frame-api:
    image: frame-api
    container_name: frame-api
    build:
      context: .
      dockerfile: FrameApi/Dockerfile
    env_file:
      - .env
    restart: unless-stopped
    environment:
      ASPNETCORE_URLS: http://+:80
    networks:
      - external

