services:
  snookerorg:
    image: snookerorg
    container_name: snookerorg
    build:
      context: .
      dockerfile: SnookerOrg/Dockerfile
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - external

networks:
  external:
    name: external
    external: true

