networks:
  external:
    name: external
    external: true

services:
  snookerorg:
    image: snookerorg
    container_name: snookerorg
    build:
      context: .
      dockerfile: SnookerOrg/Dockerfile
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - external
  
  live-matches-sync:
    image: live-matches-sync
    container_name: live-matches-sync
    build:
      context: .
      dockerfile: LiveMatchesSync/Dockerfile
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - external
  
  live-event-matches-sync:
    image: live-event-matches-sync
    container_name: live-event-matches-sync
    build:
      context: .
      dockerfile: LiveEventMatchesSync/Dockerfile
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - external
  
  upcoming-event-matches-sync:
    image: upcoming-event-matches-sync
    container_name: upcoming-event-matches-sync
    build:
      context: .
      dockerfile: UpcomingEventMatchesSync/Dockerfile
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - external
  
  finished-event-matches-sync:
    image: finished-event-matches-sync
    container_name: finished-event-matches-sync
    build:
      context: .
      dockerfile: FinishedEventMatchesSync/Dockerfile
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - external
  
  events-sync:
    image: events-sync
    container_name: events-sync
    build:
      context: .
      dockerfile: EventsSync/Dockerfile
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - external
  
  player-sync:
    image: player-sync
    container_name: player-sync
    build:
      context: .
      dockerfile: PlayerSync/Dockerfile
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - external
  
  money-ranking-sync:
    image: money-ranking-sync
    container_name: money-ranking-sync
    build:
      context: .
      dockerfile: MoneyRankingSync/Dockerfile
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - external
  
  money-seeding-sync:
    image: money-seeding-sync
    container_name: money-seeding-sync
    build:
      context: .
      dockerfile: MoneySeedingSync/Dockerfile
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - external
  
  qtour-ranking-sync:
    image: qtour-ranking-sync
    container_name: qtour-ranking-sync
    build:
      context: .
      dockerfile: QTourRankingSync/Dockerfile
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - external
  
  womens-ranking-sync:
    image: womens-ranking-sync
    container_name: womens-ranking-sync
    build:
      context: .
      dockerfile: WomensRankingSync/Dockerfile
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - external

  round-sync:
    image: round-sync
    container_name: round-sync
    build:
      context: .
      dockerfile: RoundSync/Dockerfile
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - external
  
  matches-worker:
    image: matches-worker
    container_name: matches-worker
    build:
      context: .
      dockerfile: MatchesWorker/Dockerfile
    env_file:
      - .env
    volumes:
      - ./:/src
    restart: unless-stopped
    networks:
      - external
  
  player-worker:
    image: player-worker
    container_name: player-worker
    build:
      context: .
      dockerfile: PlayerWorker/Dockerfile
    env_file:
      - .env
    volumes:
      - ./:/src
    restart: unless-stopped
    networks:
      - external
  
  ranking-worker:
    image: ranking-worker
    container_name: ranking-worker
    build:
      context: .
      dockerfile: RankingWorker/Dockerfile
    env_file:
      - .env
    volumes:
      - ./:/src
    restart: unless-stopped
    networks:
      - external
  
  events-worker:
    image: events-worker
    container_name: events-worker
    build:
      context: .
      dockerfile: EventsWorker/Dockerfile
    env_file:
      - .env
    volumes:
      - ./:/src
    restart: unless-stopped
    networks:
      - external
  
  watchon-worker:
    image: watchon-worker
    container_name: watchon-worker
    build:
      context: .
      dockerfile: WatchOnWorker/Dockerfile
    env_file:
      - .env
    volumes:
      - ./:/src
    restart: unless-stopped
    networks:
      - external
  
  round-worker:
    image: round-worker
    container_name: round-worker
    build:
      context: .
      dockerfile: RoundWorker/Dockerfile
    env_file:
      - .env
    volumes:
      - ./:/src
    restart: unless-stopped
    networks:
      - external
  
  match-api:
    image: match-api
    container_name: match-api
    build:
      context: .
      dockerfile: MatchApi/Dockerfile
    env_file:
      - .env
    restart: unless-stopped
    environment:
      ASPNETCORE_URLS: http://+:80
    networks:
      - external
  
  round-api:
    image: round-api
    container_name: round-api
    build:
      context: .
      dockerfile: RoundApi/Dockerfile
    env_file:
      - .env
    restart: unless-stopped
    environment:
      ASPNETCORE_URLS: http://+:80
    networks:
      - external
  
  player-api:
    image: player-api
    container_name: player-api
    build:
      context: .
      dockerfile: PlayerApi/Dockerfile
    env_file:
      - .env
    restart: unless-stopped
    environment:
      ASPNETCORE_URLS: http://+:80
    networks:
      - external
  
  watchon-api:
    image: watchon-api
    container_name: watchon-api
    build:
      context: .
      dockerfile: WatchOnApi/Dockerfile
    env_file:
      - .env
    restart: unless-stopped
    environment:
      ASPNETCORE_URLS: http://+:80
    networks:
      - external
  
  event-api:
    image: event-api
    container_name: event-api
    build:
      context: .
      dockerfile: EventApi/Dockerfile
    env_file:
      - .env
    restart: unless-stopped
    environment:
      ASPNETCORE_URLS: http://+:80
    networks:
      - external

  notification-worker:
    image: notification-worker
    container_name: notification-worker
    build:
      context: .
      dockerfile: NotificationWorker/Dockerfile
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - external

  session-worker:
    image: session-worker
    container_name: session-worker
    build:
      context: .
      dockerfile: SessionWorker/Dockerfile
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - external

  session-api:
    image: session-api
    container_name: session-api
    build:
      context: .
      dockerfile: SessionApi/Dockerfile
    env_file:
      - .env
    restart: unless-stopped
    environment:
      ASPNETCORE_URLS: http://+:80
    networks:
      - external

  frame-worker:
    image: frame-worker
    container_name: frame-worker
    build:
      context: .
      dockerfile: FrameWorker/Dockerfile
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - external

  frame-api:
    image: frame-api
    container_name: frame-api
    build:
      context: .
      dockerfile: FrameApi/Dockerfile
    env_file:
      - .env
    restart: unless-stopped
    environment:
      ASPNETCORE_URLS: http://+:80
    networks:
      - external
  
  ranking-api:
    image: ranking-api
    container_name: ranking-api
    build:
      context: .
      dockerfile: RankingApi/Dockerfile
    env_file:
      - .env
    restart: unless-stopped
    environment:
      ASPNETCORE_URLS: http://+:80
    networks:
      - external
  

