services:
  snookerorg:
    image: snookerorg
    container_name: snookerorg
    build:
      context: .
      dockerfile: SnookerOrg/Dockerfile
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - external
  
  live-matches-sync:
    image: live-matches-sync
    container_name: live-matches-sync
    build:
      context: .
      dockerfile: LiveMatchesSync/Dockerfile
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - external

networks:
  external:
    name: external
    external: true



